.App {
  text-align: center;
}

#root{
  background-color: lightgreen;
  min-height: 680px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;

  /* border: 1px red dotted; */
}



.new-election-button {
  padding: 25px;
}


.enter-code-form {
  padding: 10px;
  
}

.join-with-code {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.join-with-code-text {
  padding-bottom: 10px;
}

.create-election-fields {
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 1px red dotted;
}

.create-election-position {
  padding: 10px;
}


.create-election-candidate {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.create-election-position-text {
  font-size: 18px;
  font-weight: 600;
}

.create-election-candidate-text {
  font-size: 14px;
}

.icon-div{
  max-width: 400px;
}

.icon-div img{
  width: 100%;
}

.join-with-code-field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.electionCode {
  background-color: white;
  border-radius: 18px;
  text-align: center;
  font-weight: 600;
  padding: 11px;
  margin-bottom: 20px
}

.vote-count{
  margin-top: 20px;
}

.winning{
  background-color: black;
  color: white;
  padding: 20px;
  border-radius: 20px;
  font-weight: 600;
  font-size: 22px;
  margin-top: 20px;
}
